<% provide(:title, "We Provide Extracurricular Opportunities to CPS Students") %>
<section id="home-banner">
  <div class="stripes">
  </div>
  <div class="home">
    <div class="container">
      <div class="row" style="height: 600px;">
        <div class="offset-md-6 col-md-6 col-12 align-self-center">
          <h1 class="text-white">Zip Codes Shouldn't Limit Learning</h1>
          <p class="p-large py-4">We see a world where the opportunity to learn and achieve is not determined by a person’s neighborhood or class, but by that individual’s passion and persistence for learning.</p>
          <a href="/schools" class="btn btn-primary btn-red">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-vision">
  <div class="stripes">
  </div>
  <div class="container">
    <div class="row py-6">
      <div class="col-md-4 col-12 text-center">
        <%= link_to image_tag("home_graphic_3.png", alt: "Home graphic 3", class: "home-graphic") %>
        <h4>Equip Minds</h4>
        <p>We work with Cradles to Crayons to provide students with a year's worth of school supplies.</p>
      </div>
      <div class="col-md-4 col-12 text-center">
        <%= link_to image_tag("home_graphic_2.png", alt: "Home graphic 2", class: "home-graphic") %>
        <h4>Spark Curiosity</h4>
        <p>Our students embark on engaging field trips to Chicago's renowned museums including the Field Museum and Adler Planetarium.</p>
      </div>
      <div class="col-md-4 col-12 text-center">
        <%= link_to image_tag("home_graphic_1.png", alt: "Home graphic 1", class: "home-graphic") %>
        <h4>Unlock Potential</h4>
        <p>College mentors work with students one-on-one to provide life coaching and support academic efforts.</p>
      </div>
    </div>
  </div>
</section>
<section id="home-chicago">
  <div class="stripes">
  </div>
  <div class="chicago py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 mobile-pb-6">
          <%= link_to image_tag("chicago_map_blue.png", alt: "Chicago map", style: "width: 90%;") %>
        </div>
        <div class="col-md-6 col-12 align-self-center">
          <h1 class="text-white">We Serve Chicago</h1>
          <p class="py-4">We support schools in various neighborhoods throughout the city including West Ridge, Belmont Cragin, and Humboldt Park. We work with schools that are lead by dedicated staff, active parents, and have high need.</p>
          <%= link_to "Meet our schools", schools_path, class: 'btn btn-primary btn-white' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-impact">
  <div class="stripes">
  </div>
  <div class="impact py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 align-self-center">
          <h1>Our Impact</h1>
          <p class="py-4">Since 2009, we have served more than 10,000 students across more than a dozen schools and community organizations. We've partnered with dozens of Chicago institutions including Chicago Youth Centers and the Museum of Science and Industry to deliver engaging programs to our students.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-aaft">
  <div class="stripes">
  </div>
  <div class="aaft py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="card shadow">
            <%= link_to image_tag("sfd_student_1.jpg", alt: "SFD student", class: "card-img-top") %>
            <div class="card-body">
              <p>"I loved going to the Field Museum and seeing Sue the T-Rex. I didn't realize how big dinosaurs were and I learned about why they became extinct"</p>
              <h6 class="text-muted font-weight-bold">FIFTH GRADER, MANUEL PEREZ ELEMENTARY</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 align-self-center">
          <h1>Experiences Matter</h1>
          <p class="py-4">Our Award-a-Field Trip program takes students to eight museums and cultural sites across Chicago, and provides a rich extra-curricular learning experience that supplements their classroom education.</p>
          <%= link_to "Learn more", programs_path, class: 'btn btn-primary btn-red' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-stories">
  <div class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pb-4">Stories From Our Schools</h1>
        </div>
        <div class="col-12">
          <div class="card-deck">
            <% @posts.take(3).each do |post| %>
              <%= render :partial => 'post', :locals => {:post => post} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
