<% provide(:title, "Recruitment") %>
<section id="recruitment-title" class="bg-dark-blue">
  <div class="container py-6">
    <div class="row text-center">
      <div class="offset-md-1 col-md-10 col-12">
        <h1 class="text-white">Help Enrich Learning for Students</h1>
        <p class="p-large pt-4">We see a world where the opportunity to learn and achieve is not determined by a person’s neighborhood or class, but by that individual’s passion and persistence for learning. We operate programs that provide Chicago Public Schools students with basic resources and extracurricular opportunities. And we'd like your help.</p>
      </div>
    </div>
  </div>
</section>
<section id="recruitment-session">
  <div class="container py-6">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12 text-center pb-4">
        <h1>Email for More Information</h1>
      </div>
      <div class="offset-md-2 col-md-6 col-12 text-center pb-4">
        <p class="p-large"> contact@suppliesfordreams.org</p>
      </div>
      
    </div>
  </div>
</section>
<section id="recruitment-card" class="bg-grey">
  <div class="container py-6">
    <div class="row">
      <div class="col-12 col-md-12">
        <h1>Join Our Team</h1>
        <p class="p-large py-4">Our committees work together to ensure that all of our programs and initiatives run smoothly and that we are constantly improving. There are a number of ways you can contribute to the Northwestern University team, whether you’re interested in working with students, running a non-profit, fundraising and networking, or expanding your creative skills!</p>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Academic Enrichment</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>Academic Enrichment oversees Supplies for Dreams’ mentoring program in our CPS partner schools. Through mentoring sessions, we strive to help students develop their confidence, agency, love of learning, and broad worldview. At the Headquarters level, the AE team develops and edits the curriculum used across all SFD chapters. We regularly revise this curriculum to better suit the mentors and mentees who use it and reflect our goals. At the Northwestern Chapter level, school coordinators and mentors implement curriculum at our chapter’s partner schools. We attend weekly mentoring sessions and get to work and connect with the mentees.</p>
          </div>
          
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Award-a-Field Trip</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>Supplies for Dreams believes that every student should have the opportunity to go on a field trip during their K-8 education. The Award-a-Field Trip (AAFT) committee works to provide students with an engaging learning experience at a number of sites in Chicago, extending learning beyond classrooms in an exciting and exploratory way. The field trip team coordinates and leads 4th-8th grade students on field trips throughout the school year. Currently, students are able to visit the Museum of Science and Industry, the Field Museum, the Adler Planetarium, Shedd Aquarium, the Chicago History Museum, and the Northwestern Campus.</p>
          </div>
          
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Development</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>The Development Committee is the fundraising arm of Supplies for Dreams. The committee’s primary responsibilities include grant writing and networking. Development is also responsible for managing current donors and building relationships with individuals and organizations within Chicago communities. Members of the Development team have the opportunity to understand the corporate side of running a non-profit and are able to work with corporate partners.</p>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Human Resources</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>Human Resource Committee Members are: interested in learning more about recruitment practices (either at Northwestern or across our chapters); willing to engage with the onboarding of our new internal team members (holding workshops, co-hosting All-Team meetings, facilitating Social Justice curriculum); passionate about fostering a positive internal team culture; experienced in conflict management; creative and have unique ideas for team bonding (for recreational and professional purposes). Key qualities of Human Resource Committee Members are reliability, an intrinsic dedication to wanting to create an equitable environment for all, and a willingness to learn about all things HR-related.</p>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Local Outreach</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>The Local Outreach Committee is responsible for fundraising and marketing efforts that occur on campus. LO works to develop engaging, innovative, and effective ways to raise awareness and funds for Supplies for Dreams within the Northwestern and Evanston communities. LO team members get to share our work with the greater Northwestern community and build meaningful connections with local individuals and organizations.</p>
          </div>
          
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Marketing</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>The Marketing committee is in charge of planning events and building SFD’s brand. We bring the Supplies for Dreams story to life by hosting events and sharing our students’ experiences through videos, social media and journalistic articles. Marketing team members are at their core hard-working and creative. Team members specialize in different roles such as design, content writing and videography, but they are never restricted in those roles. The committee is mainly in charge of conceptualizing a comprehensive marketing strategy for the organization. In addition, team members organize SFD’s annual gala, annual report, and donation campaigns.</p>
          </div>
          
        </div>
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Quality Assurance</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>Quality Assurance measures the impact of Supplies for Dreams’ programming while working to improve the efficiency of existing processes. QA’s primary responsibilities are to develop and implement improvement initiatives across the organization. Some of these initiatives include collecting and reviewing feedback from students to improve our field trip and mentoring programs, analyzing how we can best develop our team processes, and evaluating the impact of our fundraising strategies. QA works closely with other committees to measure success, analyze existing operations, and offer advice for growth.</p>
          </div>
          
        </div>
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Transitions</h5>
            <p><%= image_tag("nu-thumb.jpg", class: "job-thumb") %> Northwestern University</p>
            <p>SFD Transitions works with 7th and 8th graders making the transition into high school. CPS has various types of high schools that students can apply to, making the process unique. Within SFD Transitions, committee members both write curriculum about the high school transition and present material to middle school classes over essential skills for this transition. This role is intended for folks who both understand and enjoy students and their diverse developmental needs and have a passion for helping them.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recruitment-profile">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-6 col-12 align-self-center">
        <h1>Our Expectations</h1>
        <p class="p-large py-4">All team members are expected to attend weekly all-team meetings (Sundays from 8-9pm) and meetings for their committees (times vary). We also have occasional trainings, onboarding sessions, and fundraising events throughout the year. Lastly, all team members are expected to contribute to our programming by chaperoning two field trips or mentoring for a quarter during the year.</p>
      </div>
      <div class="col-md-6 col-12">
        <div class="job-pic">
          <%= link_to image_tag("team-pic.jpg", alt: "SFD Team", class: "job-pic-img") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recruitment-logos">
  <div class="container py-6">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12 text-center">
        <h1>You're In Good Company</h1>
        <p class="p-large py-4">Our alumni have gone on to work for Teach for America, started companies and nonprofit organizations, joined consulting firms and companies, and went on to study at top law schools and medical schools.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("bcg.png", alt: "BCG logo") %>
      </div>
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("cps.png", alt: "CPS logo") %>
      </div>
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("mckinsey.png", alt: "McKinsey logo") %>
      </div>
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("microsoft.png", alt: "Microsoft logo") %>
      </div>
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("stanford.png", alt: "Stanford logo") %>
      </div>
      <div class="col-md-2 col-6 align-self-center mobile-pb">
        <%= link_to image_tag("tfa.png", alt: "Teach for America logo") %>
      </div>
    </div>
  </div>
</section>