<% provide(:title, "Annual Reports & Financials") %>
<section id="resources-title" class="bg-grey">
  <div class="container py-6">
    <div class="row resources text-center">
      <div class="offset-md-2 col-md-8 col-12">
        <h1 class="pb-4">Annual Reports and Financials</h2>
        <p>We know that it's important for you to know that your donation is used effectively. We are committed to accountability and transparency.</p>
      </div>
    </div>
  </div>
</section>
<section id="resources-content">
  <div class="container py-6">
    <div class="row">
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2018</p>
        <p><a href="/">2018 Annual Report</a></p>
        <p><a href="/">2018 Form 990</a></p>
      </div>
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2017</p>
        <p><%= link_to "2017 Annual Report", asset_path("/resources/SFD_Annual_Report_2017.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2017 Form 990", asset_path("/resources/SFD_990_2017.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2016</p>
        <p><%= link_to "2016 Annual Report", asset_path("/resources/SFD_Annual_Report_2016.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2016 Form 990", asset_path("/resources/SFD_990_2016.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3">
        <p class="font-weight-bold">2015</p>
        <p><%= link_to "2015 Annual Report", asset_path("/resources/SFD_Annual_Report_2015.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2015 Form 990", asset_path("/resources/SFD_990_2015.pdf", skip_pipeline: true) %></p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2014</p>
        <p><%= link_to "2014 Annual Report", asset_path("/resources/SFD_Annual_Report_2014.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2014 Form 990", asset_path("/resources/SFD_990_2014.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2013</p>
        <p><%= link_to "2013 Annual Report", asset_path("/resources/SFD_Annual_Report_2013.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2013 Form 990", asset_path("/resources/SFD_990_2013.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2012</p>
        <p><%= link_to "2012 Annual Report", asset_path("/resources/SFD_Annual_Report_2012.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2012 Form 990", asset_path("/resources/SFD_990_2012.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3">
        <p class="font-weight-bold">2011</p>
        <p><%= link_to "2011 Annual Report", asset_path("/resources/SFD_Annual_Report_2011.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2011 Form 990", asset_path("/resources/SFD_990_2011.pdf", skip_pipeline: true) %></p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">2010</p>
        <p><%= link_to "2010 Annual Report", asset_path("/resources/SFD_Annual_Report_2010.pdf", skip_pipeline: true) %></p>
        <p><%= link_to "2010 Form 990", asset_path("/resources/SFD_990_2010.pdf", skip_pipeline: true) %></p>
      </div>
      <div class="col-12 col-md-3 mobile-pb">
        <p class="font-weight-bold">Other Documents</p>
        <p><%= link_to "501(c)3 Ruling", asset_path("/resources/501c3.pdf", skip_pipeline: true) %></p>
      </div>
    </div>
  </div>
</section>