<% provide(:title, "Our Schools | Supplies for Dreams") %>
<section id="schools-title">
  <div class="container py-6">
    <div class="row">
      <div class="offset-md-1 col-md-10 col-12 text-center">
        <h1 class="text-white pb-4">Our Schools</h1>
        <p class="p-large">We carefully select each partner school based on need, community, and administrative support. Our partner schools are paired with chapters located at Northwestern University, Loyola University and University of Chicago.</p>
      </div>
    </div>
  </div>
</section>
<section id="schools-content">
  <div class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card-deck">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Belmont-Cragin Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in the Northwest Side, we began working with Belmont-Cragin back in 2010. Through personalized learning, Belmont-Cragin provides 500 students from PreK through 8th grade with the necessary software platforms, flexible learning environments and projects to become productive members of society. Belmont-Cragin is scheduled to move into a new school.</p>
                <p>Statistics</p>
                <%= image_tag("bc_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("bc_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=609922', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Bernhard Moos Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located near Humboldt Park, we began working with Moos back in 2010. Moos serves 440 students from PreK through 8th grade, and is an International Baccalaureate World School. Moos delivers a strong, core academic curriculum, richly enhanced by fine and performing arts classes, Spanish, Mandarin, design, technology and social-emotional supports.</p>
                <p>Statistics</p>
                <%= image_tag("bm_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("bm_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=610076', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Chavez Elementary Multicultural Academic Center</p>
              </div>
              <div class="card-body">
                <p class="card-text">Description needs to be added.</p>
                <p>Statistics</p>
                <%= image_tag("j_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("j_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=609865', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Joyce Kilmer Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in Rogers Park, Kilmer has been a partner school since 2014. Kilmer is our largest school and serves 800 students from PreK through 8th grade. Kilmer develops a community of empowered learners who take risks and embrace new challenges to achieve academic excellence. </p>
                <p>Statistics</p>
                <%= image_tag("jk_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("jk_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=610022', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Manuel Perez Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in the Pilsen neighborhood, we began working with Bernhard Perez back in 2010. Fine and Performing Arts Magnet Cluster School that focuses on combining a rigorous academic program with high quality extracurricular programs for students and their families. Perez serves 315 students from PreK through 8th grade, and is one of our original partners schools.</p>
                <p>Statistics</p>
                <%= image_tag("mp_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("mp_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=609872', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Talcott Fine Arts and Museum Academy</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in West Town, Talcott is one of our newest partner schools. Talcott is Chicago’s first and only Museum School. Unique learning partnerships for children and families are established with the Art Institute, National Museum of Mexican Fine Art, Field Museum, and Northwestern University School of Law. Talcott serves 479 students from PreK through 8th grade.</p>
                <p>Statistics</p>
                <%= image_tag("mt_stats.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("mt_demo.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "View full profile", 'https://schoolinfo.cps.edu/schoolprofile/schooldetails.aspx?SchoolId=610197', class: "btn btn-primary btn-blue" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>