<% provide(:title, "Our Schools | Supplies for Dreams") %>
<section id="schools-title">
  <div class="container py-6">
    <div class="row">
      <div class="offset-md-1 col-md-10 col-12 text-center">
        <h1 class="text-white pb-4">Our Schools</h1>
        <p class="p-large">We carefully select each partner school based on need, community, and administrative support. Our partner schools are paired with chapters located at Northwestern University, Loyola University, and University of Chicago.</p>
      </div>
    </div>
  </div>
</section>
<section id="schools-content">
  <div class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card-deck">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Belmont-Cragin Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in the Northwest Side, we began working with Belmont-Cragin back in 2010. Through personalized learning, Belmont-Cragin provides 500 students from PreK through 8th grade with the necessary software platforms, flexible learning environments and projects to become productive members of society. Belmont-Cragin is scheduled to move into a new school.</p>
                <p>Statistics</p>
                <%= image_tag("bc_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("bc_demographics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://belmontcragin.cps.edu/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/609922', class: "btn btn-primary btn-blue", style: "width: 49%;" %>

              </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Bernhard Moos Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located near Humboldt Park, we began working with Moos back in 2010. Moos serves 435 students from PreK through 8th grade, and is an International Baccalaureate World School. Moos delivers a strong, core academic curriculum, richly enhanced by fine and performing arts classes, Spanish, Mandarin, design, technology and social-emotional supports.</p>
                <p>Statistics</p>
                <%= image_tag("bm_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("bm_demographics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://www.mooselementary.org/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/610076', class: "btn btn-primary btn-blue", style: "width: 49%;" %>

              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Chavez Elementary Multicultural Academic Center</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located near Back of the Yards, we began working with Chavez in 2016. Chavez is our largest school and serves 815 students from PreK through 8th grade. Chavez is ranked a level 1+ CPS school, which is the highest ranking in a five-tiered performance system based on metrics such as success, student test score performance, student academic growth, closing of achievement gaps, school culture and climate, attendance, graduation, and preparation for post-graduation success.</p>
                <p>Statistics</p>
                <%= image_tag("c_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("c_statistics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://www.chavez.cps.edu/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/610148', class: "btn btn-primary btn-blue", style: "width: 49%;" %>

                </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Joyce Kilmer Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in Rogers Park, Kilmer has been a partner school since 2014. Kilmer serves 743 students from PreK through 8th grade. Kilmer develops a community of empowered learners who take risks and embrace new challenges to achieve academic excellence. </p>
                <p>Statistics</p>
                <%= image_tag("jc_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("jc_demographics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://www.kilmerelementary.org/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/610022', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Manuel Perez Elementary</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in the Pilsen neighborhood, we began working with Manuel Perez back in 2010. Fine and Performing Arts Magnet Cluster School that focuses on combining a rigorous academic program with high quality extracurricular programs for students and their families. Perez serves 265 students from PreK through 8th grade, and is one of our original partners schools.</p>
                <p>Statistics</p>
                <%= image_tag("p_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("p_demographics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://perezelementary.org/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/609872', class: "btn btn-primary btn-blue", style: "width: 49%;" %>

                </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                <p class="font-weight-bold mb-0">Talcott Fine Arts and Museum Academy</p>
              </div>
              <div class="card-body">
                <p class="card-text">Located in West Town, Talcott is one of our newest partner schools. Talcott is Chicago’s first and only Museum School. Unique learning partnerships for children and families are established with the Art Institute, National Museum of Mexican Fine Art, Field Museum, and Northwestern University School of Law. Talcott serves 441 students from PreK through 8th grade.</p>
                <p>Statistics</p>
                <%= image_tag("t_statistics.png", style: "width: 100%;") %>
                <p>Demographics</p>
                <%= image_tag("t_demographics.png", style: "width: 100%;") %>
              </div>
              <div class="card-footer">
                <%= link_to "School Website", 'https://www.talcottfama.org/', class: "btn btn-primary btn-blue", style: "width: 49%;" %>
                <%= link_to "School Profile", 'https://www.cps.edu/schools/schoolprofiles/610197', class: "btn btn-primary btn-blue", style: "width: 49%;" %>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>