<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>
<% provide(:title, "Blog") %>
<section id="blog-title">
  <div class="container pt-6 pb-3">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12">
        <!-- Post title -->
        <h1 class="pb-2"><%= @post.title %></h1>
        <!-- Post date and author -->
        <p>Posted on <%= Time.parse(@post.published).strftime('%B %d, %Y') %> by <%= link_to "#{@post.author.first_name} #{@post.author.last_name}", buttercms_author_path(@post.author.slug) %></p>
      </div>
    </div>
  </div>
</section>
<section id="blog-content">
  <div class="container pb-6">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12">
        <!-- Post body -->
        <%= @post.body.html_safe %>
      </div>
    </div>
  </div>
</section>
