<footer class="bg-dark-blue">
  <div class="container">
    <div class="row footer-top text-muted pt-6 pb-3">
      <div class="col-md-6 col-12 mobile-pb-4">
        <p class="font-weight-bold">GET TO KNOW US</p>
        <p><%= link_to 'Our programs', programs_path %></p>
        <p><%= link_to 'About us', '#' %></p>
        <p><%= link_to 'Blog', '#' %></p>
      </div>
      <div class="col-md-2 col-12 mobile-pb-4">
        <p class="font-weight-bold">GET TO KNOW US</p>
        <p><%= link_to 'Our programs', programs_path %></p>
        <p><%= link_to 'About us', about_path %></p>
        <p><%= link_to 'Blog', blog_path %></p>
      </div>
      <div class="col-md-2 col-12 mobile-pb-4">
        <p class="font-weight-bold">RESOURCES</p>
        <p><%= link_to 'Annual reports', resources_path %></p>
        <p><%= link_to 'Financials', resources_path %></p>
      </div>
      <div class="col-md-2 col-12 mobile-pb-4">
        <p class="font-weight-bold">GET INVOLVED</p>
        <p><%= link_to 'Volunteer', contact_path %></p>
        <p><%= link_to 'Contact us', contact_path %></p>
      </div>
    </div>
    <div class="row footer-bottom py-3">
      <div class="col-12 text-center">
        <p><%= link_to 'Privacy Policy', privacy_path %></p>
        <p class="text-muted">&copy; Copyright 2019 Supplies for Dreams, Inc. is a 501(c)3 | EIN: 32-0270714</p>
      </div>
    </div>
  </div>
</footer>