<header>
  <% if current_page?(resources_path) %>
  <nav class="navbar navbar-expand-md fixed-top navbar-transparent navbar-light">
  <% elsif current_page?(programs_path) || current_page?(why_path) || current_page?(recruitment_path) %>
  <nav class="navbar navbar-expand-md fixed-top navbar-transparent navbar-dark">
  <% else %>
  <nav class="navbar navbar-expand-md fixed-top navbar-white navbar-light">
  <% end %>
    <div class="container d-flex justify-content-between">
      <% if current_page?(programs_path) || current_page?(why_path) || current_page?(recruitment_path) %>
      <%= link_to image_tag("sfd_logo_white.png", alt: "Supplies for Dreams logo", class: "nav-logo"), '/' %>
      <% else %>
      <%= link_to image_tag("sfd_logo.png", alt: "Supplies for Dreams logo", class: "nav-logo"), '/' %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Why CPS", why_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Our Programs", programs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recruitment", recruitment_path, class: "nav-link" %>
          </li>
        </ul>
        <a href="/donate"><button class="btn btn-red my-2 my-sm-0" type="submit">DONATE</button></a>
      </div>
    </div>
  </nav>
</header>